.title{
    text-align: center;
    margin-top: 20px;
    
}

.searchWrap{
    padding-top: 31px;
    margin-bottom: 20px;
}

.searchBtn{
    margin-top: 30px;
}

.List{
    margin-bottom: 20px;
}
